:root {
  --side-margins: 15vw;
  --side-margins-non-widescreen: 5rem;
  --styled-border-radius: 20px;
  --navbar-height: 81.11px;
  --footer-height: 364px;
  --primary-dark-light: #888888;
  --inactive-element: rgba(152, 157, 165, 0.33);
  --indigo-light: #989DA5;
  --price-green: #5B993D;
  --warn-red: #993d3d;
  --divider-gray: rgba(0, 0, 0, 0.2);
  --divider-gray-light: rgba(0, 0, 0, 0.1);
  --divider-gray-light: #E4E4E4;
  --primary-accent: #3D7D99;
  --primary-accent-light: #A9D2E3;
  --primary-bluegray-light: #D5D7DE;
  --navbar-gray: #D9D9D9;
  --primary-text: #4D4D4D;
  --bg-light-gray: #EEE;
  --bg-light-bluegray: #e3e4e8;
  --primary-text-light: #999;
  --primary-white: #FFF;
  --navbar-gray-highlighted: #C9C9C9;
  --footer-gray: #DADADA;
  --navbar-searchbar-width: 165px;
  --input-padding: 0.775rem 1rem;
  --card-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  --dropdown-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --navbar-font-size: 0.875rem;
  --pageYEdgeMargin: 70px;
  --ease-out-anim: cubic-bezier(0.000, 1.050, 0.305, 0.990);
  color: var(--primary-text);
}

@media (max-width: 1399px) {
  :root {
    --side-margins: 5rem;
  }
}

@media (max-width: 991px) {
  :root {
    --navbar-height: 172.38px;
  }
}

@media (max-width: 575px) {
  :root {
    --side-margins: 1.25rem;
    --side-margins-non-widescreen: 1.25rem;
  }
}

*,::after,::before {
box-sizing: border-box;
}

body, html {
  font-family: 'Poppins';
  margin: 0;
}

#main-routes-content {
  padding-top: var(--navbar-height);
  min-height: calc(100vh - var(--footer-height));
}

.blocked {
  pointer-events: none;
  opacity: 0.5;
}

.blocked-alt {
  pointer-events: none;
  opacity: 0.25;
}

.green {
  color: var(--price-green);
}

.red {
  color: var(--warn-red);
}

.yellow {
  color: #ffe600; 
}

.white {
  background-color: rgba(247, 247, 247, 0.952);
  border: 1px solid rgba(182, 182, 182, 0.4);
}

.notifications-container {
  pointer-events: none;
  z-index: 1;
  margin: auto auto 0px;
  position: fixed;
  top: calc(var(--navbar-height) - 1px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-light-gray);
  width: 100%;
  min-height: 0;
  transform: translateY(-20%);
  transition: all .50s var(--ease-out-anim);
  z-index: 3;
}

.notifications-container.show {
  min-height: calc(var(--navbar-height) - 1px);
  transform: translateY(0);
}

.notifications-container .body {
  display: flex;
  flex-direction: column;
}

.notification.device-added .info {
  display: grid;
  grid-template-columns: 60px auto;
}

.notification {
  align-items: center;
  border-radius: 0px;
  color: var(--primary-red);
  display: flex;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0;
  padding: .5rem 1rem;
  margin-bottom: .25rem;
  transition: all .50s var(--ease-out-anim);
  transform:translateY(-20%);
  z-index: 1055;
  height: var(--navbar-height);
  top: 0;
}

.notification.show {
  transform: none;
  opacity: 1;
  top: 100%;
}

.notification img {
  height: 100px;
}

.notification .x-button {
  transform: scale(2);
  cursor: pointer;
  pointer-events:all;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-gray);
  opacity: 0.5;
  margin: auto;
}

.divider.vertical {
  width: 1px;
  height: 31px;
  opacity: 0.5;
  background-color: var(--divider-gray);
  margin: unset;
}

.nav-button {
  color: var(--primary-text);
  padding: 10px  20px;
  border-radius: var(--styled-border-radius);
  font-size: var(--navbar-font-size);
}

.nav-button:hover {
  color: #fff;
  background-color: var(--primary-accent);
}

.nav-button:hover svg path, .nav-button:focus svg path {
  fill: #fff;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--navbar-font-size);
}

.dropdown .toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5px;
}

.dropdown .toggle, .dropdown.wrapper {
  border-radius: var(--styled-border-radius);
}

.dropdown .toggle.shown, .dropdown .toggle:hover, .dropdown.shown .toggle:focus, .dropdown .toggle:focus, .nav-button:hover, .nav-button:focus {
  border-radius: var(--styled-border-radius);
  background-color: var(--primary-accent);
  color: #fff;
  outline: none;
}

.dropdown.gray .toggle.shown, .dropdown.gray .toggle:hover, .dropdown.shown.gray .toggle:focus {
  background-color: var(--bg-light-gray);
  color: var(--primary-text);
}

.dropdown.white .toggle {
  border-radius: var(--styled-border-radius);
}

.dropdown.white .toggle, .nav-button.dropdown.white, button.dropdown.white {
  background-color:#fff;
  color: var(--primary-text);
}

.nav-button.dropdown.white:hover, button.dropdown.white:hover {
  background-color: var(--primary-accent);
  color: #fff;
}

.dropdown.white .toggle.shown, .dropdown.white .toggle:hover, .dropdown.shown.white .toggle:focus {
  background-color: var(--primary-accent);
  color: #fff;
}

.dropdown .items .toggle:focus {
  border-radius: 0px;
}

.dropdown .toggle.shown svg path, .dropdown .toggle:hover svg path, .dropdown .toggle:focus svg path, .dropdown .items li.highlight .dropdown .toggle svg path {
  fill: #fff;
}

.dropdown .items .toggle {
  border-radius: 0px;
}

.dropdown .items {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  padding: 8px 0;
}

.dropdown .items .toggle.shown, .dropdown .items li.highlight .toggle, .dropdown .items .toggle:hover {
  border-radius: unset;
  background-color: var(--primary-accent);
  color: #fff;
}

.dropdown .items .nav-button {
  border-radius: unset;
  width: 100%;
}

.dropdown .callback-button {
  width: -webkit-fill-available;
}

.dropdown .items.shown {
  visibility: visible;
}

.dropdown .items li>*:not(.dropdown.wrapper) {
  padding: 10px  20px;
  /* color: var(--primary-text); */
}

.dropdown .items li.highlight .nav-button, .dropdown .items li>*:hover, .dropdown .items li.highlight .dropdown .toggle {
  background-color: var(--primary-accent);
  color: #fff;
}

.dropdown .items li .dropdown:hover {
  background-color: var(--primary-accent);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

.button {
  font-size: 0.875rem;
  padding: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  width: max-content;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid var(--primary-accent);
}

.button.primary {
  color: #fff;
  background-color: var(--primary-accent);
}

.button.primary:hover {
  filter: brightness(1.2);
}

.button.secondary {
  color: var(--primary-accent);
  background-color: #fff;
}

.button.secondary:hover {
  background-color: var(--primary-accent);
  color: #fff;
}

.button.warn {
  border: 2px solid var(--warn-red);
  color: var(--warn-red);
  background-color: #fff;
}

.button.warn:hover {
  background-color: var(--warn-red);
  color: #fff;
}

.button.blank {
  background-color: transparent;
  color: var(--primary-text);
  border: 0;
}

li {
  list-style-type: none;
}

p {
  line-height: 200%;
  font-size: 0.875rem;
}

input, textarea {
  border: 1px solid var(--inactive-element);
  border-radius: 4px;
  padding: var(--input-padding);
  height: 34px;
}

input.warn, textarea.warn {
  border: 1px solid var(--warn-red);
}

input, textarea, input::placeholder, textarea::placeholder {
  color: var(--indigo-light);
  font-weight: 300;
  font-size: 0.938rem;
}

.labeled-input {
  display: flex;
  flex-direction: column;
}

.labeled-input .label {
  font-weight: 600;
  color: var(--primary-accent);
  margin-bottom: 0.33rem;
}

.labeled-input .subscript {
  color: var(--primary-text-light);
  font-size: 0.75rem;
  margin-top: 0.35rem;
}

.textarea {
  font-family: 'Raleway';
  height: 126px;
}

.textarea::placeholder {
  font-weight: 500;
}

.textarea:focus-visible, input:focus-visible {
  box-shadow: 0 0 0 .15rem var(--primary-accent);
  outline:none;
}

.hidden {
  visibility: hidden;
}

.dots {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.dots .dot {
  width: 5px;
  height: 5px;
  background-color: var(--inactive-element);
  border-radius: 50%;
}

.soc-media-icons-ul {
  display: flex;
  grid-gap: 0.625rem;
}

.soc-media-icons-ul svg {
  color: #fff;
  padding: 0.45rem;
  background-color: var(--primary-accent);
  border-radius: var(--styled-border-radius);
}

.soc-media-icons-ul svg:hover {
  background-color: #fff;
}

.soc-media-icons-ul svg:hover path {
  fill: var(--primary-accent);
}

.nav-item, .dropdown .toggle {
  color: var(--primary-text);
  text-decoration: none;
  padding: 10px 15px;
  font-size: 0.875rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchbox {
  border-radius: var(--styled-border-radius);
}

.searchbox input {
  height: 41px;
  border-radius: var(--styled-border-radius);
}

.searchbox .lds-ring div {
  border-color: rgba(214, 214, 214, 0.815) transparent transparent transparent;
}

.searchbox .results-container {
  max-width: var(--navbar-searchbar-width);
}

.searchbox .results-container .divider {
  opacity: 0.4;
  background-color: var(--divider-gray);
  width: 50%;
}

.searchbox .input-icon-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
}

.searchbox .input-icon-wrapper input {
  padding-left: 2.5rem;
  border-radius: none;
  max-width: var(--navbar-searchbar-width);
  border: none;
}

.searchbox .input-icon-wrapper input:focus-visible {
  box-shadow: none;
  outline: none;
}

.searchbox .input-icon-wrapper input.box-shadow {
  box-shadow: 0 0 0 .15rem var(--primary-accent);
}

.searchbox .input-icon-wrapper {
  outline: none;
}

.searchbox .input-icon-wrapper .magnifying-glass {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  fill: var(--indigo-light);
}

.searchbox .results-container::-webkit-scrollbar {
  display: none;
}

.searchbox .results-container {
  visibility: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: var(--styled-border-radius);
  border-bottom-left-radius: var(--styled-border-radius);
  padding: 0.15rem 0 0.3rem;
}

.searchbox .results-container.show {
  visibility: visible;
}

.searchbox .results-container::after {
  position: absolute;
  background-color: #fff;
  width: var(--navbar-searchbar-width);
  height: 20px;
  content: '';
  top: -17px;
  z-index: -1;
}

.searchbox .results-container .results-item {
  position: relative;
  display: flex;
  font-size: 0.813rem;
  color: var(--primary-text);
  font-weight: 400;
  background-color: #fff;
  padding: var(--input-padding);
  border-radius: var(--styled-border-radius);
  width: var(--navbar-searchbar-width);
}

.searchbox .results-container .results-item .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  justify-self: flex-end;
}

.searchbox .results-container .results-item:not(.pseudo):hover::before, .searchbox .results-container .highlight .results-item:not(.pseudo)::before {
  content: '';
  width: 4px;
  height: 70%;
  background-color: var(--primary-accent);
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.searchbox .results-container .shop-more-link {
  color: var(--primary-accent);
  font-weight: 900;
}

.searchbox .results-container .results-item .thumbnail {
  width: 30px;
  height: 30px;
}

.shop-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  height: 342px;
}

.shop-product-card .img-wrapper {
  position: relative;
  max-width: 255px;
  max-height: 263px;
}

.shop-product-card .img-wrapper .price-row {
  position: absolute;
  bottom: 12px;
}

.shop-product-card .img-wrapper .price-row .undiscounted-price, .shop-product-card .img-wrapper .price-row .discounted-price {
  background-color: var(--primary-bluegray-light);
  border-radius: 15px;
  padding: 0.25rem 0.625rem;
  position: relative;
}

.shop-product-card .img-wrapper .price-row .discounted-price {
  color: var(--price-green);
  font-weight: 600;
  margin-left: 0.25rem;
}

.shop-product-card .img-wrapper .price-row .undiscounted-price {
  color: var(--primary-dark-light);
  font-weight: 500;
}

.shop-product-card .img-wrapper .price-row .undiscounted-price::before {
  content: '';
  height: 1px;
  width: 75%;
  background-color: var(--warn-red);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.shop-product-card .name {
  margin-top: 0.25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.shop-product-card .lower-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shop-product-card .lower-col .brand-rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-product-card .lower-col .brand {
  color: var(--primary-text-light);
  font-weight: 700;
}

.shop-product-card.expanded {
  height: 402px;
}

.shop-product-card.expanded .lower-col .brand-rating-row {
  display: flex;
  justify-content: unset;
  margin: 0.5rem 0 0.75rem;
}

.shop-product-card.expanded .lower-col .brand {
  display: none;
}

.shop-product-card.expanded .lower-col .review-count {
  margin-left: 0.35rem;
}

.shop-product-card.expanded .attributes {
  color: var(--primary-text-light);
  font-weight: 300;
  font-size: 0.875rem;
}

.shop-product-card.expanded .type {
  color: var(--primary-accent);
  font-size: 0.688rem;
  margin-top: 10px;
}

.shop-product-card.list-view {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  align-items: unset;
  width: 690px;
  height: auto;
}

.shop-product-card.list-view .attributes-column-ul {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.shop-product-card.list-view .attributes-column-ul .label {
  color: var(--primary-text);
  font-weight: 400;
}

.recently-viewed-products {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
  margin-bottom: var(--pageYEdgeMargin);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1014px) {
  .recently-viewed-products {
    height: 490.31px;
    overflow-y: hidden;
  }
}

.recently-viewed-products .header {
  margin: 2rem 0 2rem 2rem;
}

@media (min-width: 1200px) {
  .recently-viewed-products .header {
    margin-left: auto;
    margin-right: auto;
  }
}

.recently-viewed-products .products-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1.25rem;
}

.recently-viewed-products .products-ul .shop-product-card {
  display: inline-block;
}

.rating-stars {
  display: flex;
  grid-gap: 0.625rem;
}

.side-col {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  max-width: 170px;
  margin-top: 77px;
}

@media (max-width: 767px) {  
  .side-col {
  margin-top: unset;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  }
}

.side-col .labeled-col {
  display: flex;
  flex-direction: column;
}

.side-col .labeled-col .label {
  margin: 1rem 0;
  font-weight: 300;
}

.side-col .labeled-col .nav-button {
  color: var(--primary-accent);
  width: 170px;
}

.side-col .labeled-col .nav-button:hover, .side-col .labeled-col .nav-button:focus {
  color: #fff;
  background-color: var(--primary-accent);
}

.breadcrumb-trail {
  display: flex;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary-text);
}

.breadcrumb-trail .breadcrumb {
  display: flex;
}

.breadcrumb-trail .angle {
  margin: 0 0.4rem;
}

.breadcrumb-trail .previous {
  display: flex;
  text-decoration: underline;
  color: var(--primary-accent);
}

.page-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 35px 0;
  color: var(--primary-accent);
  text-transform: uppercase;
}

.labeled-checkbox-button {
  all: inherit;
  display: flex;
  grid-gap: .5rem;
}

.labeled-checkbox-button .checkbox-div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  vertical-align: top;
  background-color:#fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  border-radius: .15rem;
  z-index: 2;
}

.labeled-checkbox-button .checkbox-div.active {
  filter:brightness(90%);
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.10);
}

.labeled-checkbox-button .checkbox-div.box-shadow {
  box-shadow: 0 0 0 .25rem rgba(253,0,13,.25);
}

.labeled-checkbox-button .checkbox-div.box-shadow-light {
  box-shadow: 0 0 0 .25rem rgba(255, 192, 195, 0.473);
}

.labeled-checkbox-button .checkbox-div.checked {
  background-color: rgb(255, 194, 194);
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10l3 3l6-6%27/%3e%3c/svg%3e");
}

.discount-tag {
  color: #000;
  border: 1px solid #000;
  padding: 0.35rem 0.75rem;
  width: max-content;
}

.collapsible-info .collapse-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0.625rem;
  padding: 0;
  margin-bottom: 1rem;
}

.collapsible-info h4 {
  margin: 0;
  font-weight: 600;
}

.collapsible-info .triangle-down.collapsed {
  transform: rotate(180deg);
}

.collapsible-info .info.collapsed {
  display: none;
}

.collapsible-info .divider {
  margin-top: 1.875rem;
  margin-bottom: 1.5rem;
}

.rating-badge {
  margin-top: 2rem;
  display: flex;
}

.rating-badge .star-wrapper {
  position: relative;
  width: max-content;
}

.rating-badge .star-wrapper.faded::before {
  content: '';
  height: 0%;
  width: 100%;
  background-color: var(--primary-white);
  position: absolute;
  opacity: 0.75;
}
  
.rating-badge .star-wrapper.faded.one::before {
  height: 10%;
}

.rating-badge .star-wrapper.faded.two::before {
  height: 20%;
}

.rating-badge .star-wrapper.faded.three::before {
  height: 30%;
}

.rating-badge .star-wrapper.faded.four::before {
  height: 40%;
}

.rating-badge .star-wrapper.faded.five::before {
  height: 50%;
}

.rating-badge .star-wrapper .star {
  width: 82.21px;
  height: 86.09px;
  position: relative;
  z-index: -2;
}

.rating-badge .star-wrapper.gray svg path {
  opacity: 0.8;
  fill: var(--bg-light-bluegray)
}

.rating-badge .star-wrapper.gray .rating {
  color: var(--primary-text-light);
}

.rating-badge .star-wrapper .rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: #9A7F55;
}

.rating-badge .count-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  background-color: var(--navbar-gray);
  border-radius: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: 500;
  height: auto;
  padding: 1.25rem var(--side-margins);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575px) {
  #navbar {
    padding: 1.5rem 0rem 0.5rem;
  }
}

#navbar .logo {
  height: 19px;
}

@media (max-width: 991px) {
  #navbar {
    flex-direction: column;
    grid-gap: 0.75rem;
    padding: 1.25rem 5rem 0.75rem;
  }
}

#navbar .center-row {
  display: flex;
  grid-gap:  0.6vw;
  align-items: center;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 991px) {
  #navbar .center-row {
    margin-top: 0.85rem;
  }
}

#navbar .end-row {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

#navbar .end-row>* {
  height: 40px;
}

#navbar .end-row .account-link {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  font-size: var(--navbar-font-size);
}

#front-page {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  #front-page {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

#front-page .slider-with-ad {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
}

#front-page .slider-with-ad .fg-header {
  position: absolute;
  left: var(--side-margins);
  bottom: 35px;
  left: 28%;
  z-index: 1;
}

@media (max-width: 767px) {  
  #front-page .slider-with-ad .fg-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {  
  .slider-with-ad .dots {
    visibility: hidden;
  }
}

@media (max-width: 767px) {  
  .slider-with-ad .angle-button-next {
    visibility: hidden;
  }
}

@media (max-width: 767px) {  
  .slider-with-ad .angle-button-prev {
    visibility: hidden;
  }
}

.slider {
  width: 100%;
  max-width: 1260px;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
}

.slider>* {
  max-width: 100%;
}

.slider .wrapper {
  position: relative;
  max-width: 1260px;
}

.slider .slid-image {
  margin: auto;
}

.slider .angle-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.slider .angle-button-next {
  right: 2rem;
  z-index: 2;
}

.slider .angle-button-prev {
  transform: rotate(180deg);
  left: 2rem;
  margin-top: -50px;
  z-index: 2;
}

.slider .dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--inactive-element);
}

.slider .dots .dot.active {
  background-color: var(--primary-accent);
}

#front-page .section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#front-page .section-header h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.35rem;
  height: 66px;
  overflow: hidden;
  margin-bottom: 0;
}

#front-page .section-header .divider {
  height: 3px;
  background-color: var(--primary-accent);
  opacity: 1;
  width: 80px;
}

#front-page .beneath-slider-row {
  margin: 60px auto 0;
  padding: 0 var(--side-margins-non-widescreen);
  grid-gap: 1.25rem;
}

@media (min-width: 1829px) {
#front-page .beneath-slider-row {
    display: flex;
  }
}

#front-page .browse-the-shop {
  display: flex;
  flex-direction: column;
}

#front-page .browse-the-shop .row {
  margin-top: 1.75rem;
  display: flex;
  grid-gap: 1.25rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1829px) {
#front-page .browse-the-shop .row {
    max-height: 261px;
    overflow: hidden;
  }
}

@media (max-width: 1300px) {
#front-page .browse-the-shop .row {
    max-height: 838px;
  }
}

@media (min-width: 1829px) {
#front-page .browse-the-shop .row {
    min-width: 740px;
    max-width: 800px;
  }
}

#front-page .trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1829px) {
  .trending {
    width: 839px;
  }
}

@media (min-width: 2109px) {
  .trending {
    width: 1132.36px;
  }
}

#front-page .trending .trending-items {
  display: flex;
  flex-direction: column;
}

#front-page .trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#front-page .trending .trending-items.top-row {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1829px) {
  #front-page .trending .trending-items.top-row { 
    margin-top: 60px;
  }
}

#front-page .trending .trending-items.top-row .items {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  max-height: 342px;
  overflow: hidden;
}

@media (min-width: 1829px) {
  #front-page .trending .trending-items.top-row .items {
  max-height: 342px;
  overflow: hidden;
  }
}

@media (max-width: 1829px) {
  #front-page .trending .trending-items.top-row .items { 
    justify-content: center;
  }
}

#front-page .trending .columns {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  margin-top: 45px;
}

@media (min-width: 1012px) {
  #front-page .trending .columns {
    max-height: 1124px;
    overflow: hidden;
  }
}

@media (max-width: 1829px) {
  #front-page .trending .columns { 
    justify-content: center;
  }
}

#front-page .in-depth {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#front-page .in-depth .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

#front-page .in-depth .product {
  position: relative;
  background-color: #292929;
  color: #ccc;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
  padding-bottom: 8rem;
  grid-gap: 3rem 1.5rem;
}

#front-page .in-depth .product.right {
  background-color: #1B1B1B;
}

#front-page .in-depth .product .image-col {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 255px;
}

#front-page .in-depth .product .image-col .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#front-page .in-depth .product .specifications {
  width: 255px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

#front-page .in-depth .product .specifications .label {
  color: aqua;
  margin-bottom: 2rem;
  align-self: center;
}

#front-page .in-depth .product .specifications .list {
  display: flex;
  flex-direction: column;
  grid-gap: 0.35rem;
}

#front-page .in-depth .product .specification {
  display: grid;
  grid-template-columns: max-content auto max-content;
}

#front-page .in-depth .product .specification .key {
  width: max-content;
}

#front-page .in-depth .product .specification .ellipses {
  border-bottom: 1px dotted #555;
  position: relative;
  bottom: 0.35rem;
}

#front-page .in-depth .product .shop-now {
  position: absolute;
  bottom: -3rem;
  right: 0;
  text-decoration: underline;
  text-transform: uppercase;
}

#front-page .in-depth .product .shop-now:hover {
  color: var(--primary-accent);
}

#front-page .recently-reviewed {
  width: 100%;
  background: url('./assets/images/pink-gradient-bg-2.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: var(--side-margins-non-widescreen);
  grid-gap: 3rem 0;
}

#front-page .recently-reviewed .header-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

#front-page .recently-reviewed .header-col p {
  margin-top: 2rem;
  width: 200px;
}

#front-page .recently-reviewed .header-col .divider {
  background-color: #fff;
}

#front-page .recently-reviewed .reviews-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

#front-page .recently-reviewed .review {
  width: 318px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 45px 40px;
  grid-gap: 1rem;
  transform: rotate(9deg);
  margin-left: -1rem;
  box-shadow: var(--card-box-shadow);
}

#front-page .recently-reviewed .review .product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 60px;
  font-size: 1.25rem;
  text-decoration: underline;
}

#front-page .recently-reviewed .review .product-name:hover {
  color: var(--primary-accent);
}

#front-page .recently-reviewed .review .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#front-page .recently-reviewed .review .avatar-row {
  display: flex;
  align-items: center;
  grid-gap: 0.75rem;
}

#front-page .recently-reviewed .review p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 224px;
}




.columned-page {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
  margin-top: 70px;
  display: flex;
  grid-gap: 1.25rem;
}

@media (max-width: 767px) {  
  .columned-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.columned-page .main-col {
  max-width: 1405.11px;
}

.columned-page .main-col>* {
  max-width: 100%;
}

@media (max-width: 767px) {  
  .columned-page .main-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}

#shop .product-count-row {
  display: flex;
  align-items: center;
  min-height: 41px;
  transition: all 0.2s ease-in;
}

#shop .product-count-row .product-count {
  font-weight: 600;
  padding-right: 0.5rem;
}

#shop .product-count-row .remove-filter-button-ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  position: relative;
}

#shop .product-count-row .remove-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.25rem;
  opacity: 0;
  border: none;
  transform: translateX(-100%);
  transition: all 500ms var(--ease-out-anim);
  transition-timing-function: var(--ease-out-anim);
}

#shop .product-count-row .remove-filter-button.shown {
  opacity: 1;
  transform: none;
}

#shop .product-count-row .remove-filter-button svg rect {
  fill: var(--warn-red);
}

#shop .product-count-row .remove-filter-button:hover svg rect {
  fill: #fff;
}

#shop .filter-buttons-ul {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.625rem 1.25rem;
  padding: 0.75rem 0;
}

@media (max-width: 767px) {  
  #shop .filter-buttons-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#shop .filter-buttons-ul .filter-menu {
  color: var(--primary-accent);
  font-size: 0.875rem;
  position: relative;
}

#shop .filter-buttons-ul .filter-menu .toggle {
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  width: 241px;
}

#shop .filter-buttons-ul .filter-menu .toggle:hover, #shop .filter-buttons-ul .filter-menu.toggled .toggle {
  color: var(--bg-light-gray);
  background-color: var(--primary-accent);
}

#shop .filter-buttons-ul .filter-menu .toggle svg path {
  fill: var(--primary-accent);
}

#shop .filter-buttons-ul .filter-menu:hover .toggle svg path, #shop .filter-buttons-ul .filter-menu.toggled .toggle svg path {
  fill: #fff;
}

#shop .filter-buttons-ul .filter-menu .toggle .angle-icon {
  width: 12px;
  transform: rotate(180deg);
}

#shop .filter-buttons-ul .filter-menu .form-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  background-color: var(--bg-light-gray);
  width: 100%;
  box-shadow: var(--dropdown-box-shadow);
}

#shop .filter-buttons-ul .filter-menu.toggled .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop .filter-buttons-ul .filter-menu .form-wrapper .specifications-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
}

#shop .filter-buttons-ul .filter-menu .form-wrapper .specifications-ul .labeled-checkbox-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.45rem;
}

#shop .filter-buttons-ul .filter-menu .form-wrapper .specifications-ul .labeled-checkbox-button {
  cursor: pointer;
  padding: 0.25rem 0.375rem;
}

#shop .filter-buttons-ul .filter-menu .form-wrapper .specifications-ul li.blocked .labeled-checkbox-button {
  opacity: 0.8;
}

#shop .filter-buttons-ul .filter-menu .form-wrapper .submit-button {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  border: 0;
  font-weight: 600;
}

#shop .sorting-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;
  font-size: 0.875rem;
}

.sort-dropdown {
  display: flex;
  color: var(--primary-text);
  grid-gap: 0.25rem;
  align-items: center;
}

.sort-dropdown .angle-icon {
  width: 10px;
  margin-left: 0.25rem;
  transform: rotate(180deg);
}

.sort-dropdown svg path {
  fill: var(--primary-text);
  width: 7px;
}

.sort-dropdown:hover svg path {
  fill: var(--primary-text);
}

@media (max-width: 876px) {
  .sort-dropdown .divider {
    visibility: hidden;
  }
}

#shop .sorting-buttons-row .view-buttons {
  display: flex;
  grid-gap: 0.75rem;
  align-items: center;
}

#shop .sorting-buttons-row .view-buttons .view-icon {
  opacity: 0.35;
}

#shop .sorting-buttons-row .view-buttons .view-icon.active {
  opacity: 1;
}

#shop .shop-products-ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
}

@media (max-width: 767px) {  
  #shop .shop-products-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#shop .lower-elements {
  margin: 45px 0 67.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop .lower-elements .product-count {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--primary-text);
}

#shop .lower-elements .lower-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

#shop .lower-elements .lower-row .next-page-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#shop .lower-elements .lower-row .to-top-button {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--primary-text);
  display: flex;
  grid-gap: 0.25rem;
  align-items: center;
}

#shop .lower-elements .lower-row .to-top-button svg {
  width: 10px;
}

#shop .lower-elements .lower-row .to-top-button svg path {
  fill: var(--primary-text);
  opacity: 0.75;
  width: 2px;
}

#shop-product-page h5 {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0 0 1.25rem;
}

#shop-product-page h4 {
  font-weight: 600;
}

#shop-product-page .top-info-row {
  display: flex;
  margin-top: 2rem;
  grid-gap: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (max-width: 1200px) {
    #shop-product-page .top-info-row {
      flex-wrap: wrap;
  }
}

#shop-product-page .top-info-row .slider {
  max-width: 455px;
  max-height: 485px;
  width: 100%;
}

@media (max-width: 1200px) {
    #shop-product-page .top-info-row .slider {
      justify-self: center;
      margin: auto;
  }
}

#shop-product-page .top-info-row .right-col {
  display: flex;
  flex-direction: column;
  grid-gap: 0.25rem;
  justify-content: center;
}

#shop-product-page .top-info-row .right-col .previous-price {
  margin-top: 1rem;
  position: relative;
  width: max-content;
}

#shop-product-page .top-info-row .right-col .previous-price::before {
  content: '';
  height: 1px;
  width: 75%;
  background-color: var(--warn-red);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#shop-product-page .top-info-row .right-col .discounted-price {
  color: var(--price-green);
  font-size: 1.5rem;
}

#shop-product-page .top-info-row .right-col .name {
  font-size: 1.5rem;
}

#shop-product-page .top-info-row .right-col .specs-teaser {
  font-size: 0.875rem;
  font-weight: 300;
}

#shop-product-page .top-info-row .right-col .availability-label {
  display: flex;
  align-items: center;
  grid-gap: 0.45rem;
  margin-top: 0.5rem;
}

#shop-product-page .top-info-row .right-col .add-to-cart {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.75rem;
}

@media (max-width: 767px) {  
  #shop-product-page .top-info-row .right-col .add-to-cart {
  width: 55%;
  }
}

#shop-product-page .collapsible-info {
  width: 100%;
  max-width: 700px;
}

#shop-product-page .specification-rows-ul {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

#shop-product-page .specification-row {
  font-weight: 300;
  font-size: 0.875rem;
  padding-left: 1.25rem;
}

#shop-product-page .specification-row .pairs-ul {
  display: flex;
  flex-direction: column;
  grid-gap: 1.125rem;
}

#shop-product-page .specification-row .pair {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid var(--divider-gray-light);
  max-width: 523px;
  padding-bottom: 0.5rem;
}

#shop-product-page .returns-and-warranty {
  padding-left: 1.25rem;
  font-size: 0.875rem;
  margin: 1.75rem 0;
}

#shop-product-page .returns-and-warranty .thirty-day-return .label {
  font-weight: 700;
}

#shop-product-page .returns-and-warranty .info {
  display: flex;
  flex-direction: column;
  grid-gap: 0.75rem;
}

#shop-product-page .returns-and-warranty .warranty {
  margin-top: 1.75rem;
}

#shop-product-page .returns-and-warranty .divider {
  margin: 0.75rem 0;
}

#shop-product-page .wide.divider {
  width: 100%;
  margin-bottom: 4rem;
}

#shop-product-page .reviews {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1400px) {
  #shop-product-page .reviews {
    margin-left: 190px;
  }
}

@media (min-width: 767px) {
  #shop-product-page .reviews.no-reviews {
    margin-left: 190px;
  }
}

#shop-product-page .reviews .header-elements {
  margin: 0 0 1.5rem 5rem;
  display: flex;
  padding-left: 1.25rem;
  flex-direction: column;
}

#shop-product-page .reviews.no-reviews .header-elements {
  grid-gap: 0.875rem;
  margin-left: 0;
}

#shop-product-page .reviews .header-elements h4 {
  margin: 0;
}

#shop-product-page .reviews .header-elements .rating-badge {
  margin-top: 1rem;
}

#shop-product-page .reviews .reviews-ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  grid-gap: 3rem;
}

#shop-product-page .reviews .review .user {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}

#shop-product-page .reviews .review .user .avatar {
  border-radius: 50%;
  border: 2px solid var(--primary-accent);
  width: 70px;
  height: 70px;
}

#shop-product-page .reviews .review .user .name {
  font-size: 0.875rem;
  font-weight: 500;
}

#shop-product-page .reviews .review .title-row {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: calc(70px + 1rem);
}

#shop-product-page .reviews .review .title-row h4 {
  margin-top: 0;
}

#shop-product-page .reviews .review .title-row .purchase-verification {
  color: var(--primary-accent);
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

#shop-product-page .reviews .review .title-row .purchase-verification h4 {
  padding-left: 0 !important;
}

#shop-product-page .reviews .review .title-row .purchase-verification svg path {
  fill: var(--primary-accent-light);
}

#shop-product-page .reviews .review .body {
  padding-left: calc(70px + 1rem);
}

#shop-product-page .reviews .next-page-button {
  align-self: center;
  margin: 2.5rem 0 var(--pageYEdgeMargin);
}

#login-and-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--pageYEdgeMargin) var(--side-margins);
}

#login-and-register .page-header {
  margin-bottom: 0.75rem;
}

#login-and-register .subheaders {
  text-align: center;
  max-width: 310px;
  margin-bottom: 1rem;
}

#login-and-register .switch-link {
  text-decoration: underline;
  color: var(--primary-accent)
}

#login-and-register .breadcrumb-trail {
  align-self: flex-start;
}

#login-and-register form {
  width: 100%;
  max-width: 360px;
  grid-gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

#login-and-register form button[type='submit'] {
  margin-top: 1rem;
}

#footer {
  background-color: var(--footer-gray);
  width: 100%;
  position: absolute;
  padding: 60px var(--side-margins);
}

#footer .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#footer .wrapper .left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text);
  grid-gap: 1.25rem;
  font-size: 0.875rem;
}

#footer .wrapper .left-col .logo {
  width: max-content;
}

#footer .wrapper .right-col {
  display: flex;
  flex-direction: column;
}

#footer .wrapper .right-col .links-section {
  display: flex;
  flex-direction: column;
  grid-gap: 0.625rem;
}

#footer .wrapper .right-col .links-section .label {
  color: var(--primary-text);
}

#footer .wrapper .right-col .links-section-ul {
  display: flex;
  flex-direction: column;
  grid-gap: 1.25rem;
}

#footer .wrapper .right-col .links-section .links-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 0.625rem;
}

#footer .wrapper .right-col .links-section .links-ul .link {
  padding: 0.35rem 0.75rem;
}

#footer .to-top-button {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  padding: 1.175rem 1.188rem;
  display: flex;
  height: 53.59px;
  width: 55px;
}
